services:
  aidr:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
